html {
    font-size: 12px; 
    background: url('./images/background.jpg') bottom center; 
    background-size: cover;
}

.keys {
    display:flex; 
    flex: 1; 
    min-height: 90vh; 
    align-items: center; 
    justify-content: center;
}

.key {
    border: .5rem solid red;
    border-radius: .8rem;
    margin: .5rem; 
    /* ^^ padding between buttons */
    font-size: 2rem;
    padding: 1rem .4rem;
    transition: all .04s ease;
    width: 7rem;
    text-align: center;
    color: rgb(37, 5, 95);
    background: rgba(228, 231, 20, 0.52);
    text-shadow: 0 0 .5rem rgb(255, 253, 253);
  }

  .sound {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: rgb(37, 5, 95);
  }

  kbd {
    display: block;
    font-size: 4rem;
  }

  .playing {
      transform: scale(1.2);
      border-color: rgb(3, 135, 251);
      box-shadow: 1 2 10 white;
  }


}